*{
    margin: 0;
    padding: 0;
}

.calculator{
    width: 25%;
    height: 200%;
    border: 1px solid black;
}

#input{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

input{
    height: 90%;
    width: auto;
    border: none;
}

#buttons-container{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

button{
    height: 60px;
    width: 70px;
    background-color: aqua;
    color: black;


}